#first {
    background-image: url("IMG_0125.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: .1;*/
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    top: 63px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    position: fixed;
    z-index: -5;
}

.menu {
    overflow: hidden;
    background-color: #c0c0c0;
    min-height: 63px;
    height: 63px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    width: 100%;
    position: fixed;
}

.menu a {
    float: right;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color : black;
}

.menu a.active {
    background-color: #f08080;
    color: gray;
}

.menu b {
    float: left;
}
.menu c {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px 15px;
    float: left;
    font-size: 40px;
}

.bottom {
    overflow: hidden;
    bottom: 25px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.bottom a {
    padding: 10px 10px;
    display: inline-block;
}

.bottom b {
    padding: 0px 0px;
    display: inline-block;
}

.copyright {
    padding: 10px 10px;
    text-align: center;
    font-size: 13px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .column {
      float: left;
      width: 50%;
      /*margin: 1%;*/
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .resume {
      margin-left: 50%;
      margin-right: 50%;
      margin-top: 10%;
  }

  p {
      margin-left: 40%;
      margin-right: 40%;
      margin-top: 10%;
  }